* {
  font-family: "Metropolis", sans-serif;

  box-sizing: border-box;
}

nav a {
  text-decoration: none;
  color: white;
}

body {
  background-color: #f3efef;
  /*font-size: 1.3vw;*/
  text-align: block;
  color: #666;
}

header {
  background: url("pozadi.jpg");
  height: 500px;
  color: white;
}
footer {
  background-color: #cac6c6;
}

main {
  max-width: 750px;
  margin: 0 auto;
}
header h3 {
  text-transform: uppercase;
}

ul li {
  list-style: none;
  display: inline;
  margin: 3px;
}

main h2 {
  color: #393939;
}

#logo {
  height: 100px;
  padding: 0px 300px;
}

#line {
  border-bottom: #393939 solid 0.5px;
  margin: 40px 0px;
}

#top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#name {
  color: white;
}
