@import "reset.scss";
@import "colors.scss";
@import "variables.scss";
@import "basic.scss";

header {
  background: url("../images/fujitsu.jpg");

  height: 350px;
  color: white;
  background-size: cover;
  //opacity: 0.75;

  #top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px 0px 20px;
  }

  ul li {
    list-style: none;
    display: inline;
    margin: 3px;
  }

  h3 {
    text-transform: uppercase;
  }
  a {
    color: white;
    text-decoration: none;
  }
  #middle {
    text-align: center;
  }
}

main {
  padding-top: 15px;
  max-width: 750px;
  margin: 0 auto;

  h2 {
    color: #393939;
  }

  #logo {
    height: 100px;
    padding: 0px 300px;
  }
}

.line {
  border-bottom: #393939 solid 0.5px;
  margin: 40px 0px;
}

footer {
  height: 50px;
  background-color: $footer-color;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
