/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Metropolis", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  color: #666;
}

p {
  font-size: 17px;
  padding: 9px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 65px;
  font-weight: 500;
  padding: 15px;
}

h2 {
  font-size: 27px;
  padding: 17px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 18px;
  padding: 12px;
  text-align: left;
}

header {
  background-image: url("../images/fujitsu.jpg");
  height: 350px;
  color: white;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(25, 24, 36, 0.316);
}

header > * {
  position: relative;
}

header #top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 0px 30px;
  font-weight: 500;
}

header ul li {
  list-style: none;
  display: inline;
  margin: 3px;
}

header ul li a {
  text-transform: uppercase;
}

header h3 {
  text-transform: uppercase;
}

header a {
  color: white;
  text-decoration: none;
}

header .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

main {
  padding-top: 15px;
  max-width: 750px;
  margin: 20px auto;
}

main.center {
  text-align: center;
}

main h2 {
  color: #393939;
}

main .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 40px;
  transition: transform 0.2s;
}

main .bottom:hover {
  transform: scale(1.1);
}

main .bottom #logo {
  height: 100px;
}

main .line {
  border-bottom: #3939394d solid 0.3px;
  margin: 25px 0px;
}

footer {
  height: 65px;
  background-color: rgba(204, 204, 204, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
}

footer a:hover {
  color: white;
}
