/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Metropolis", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f3f3f3;
  color: #666;
}

p {
  font-size: 20px;
  padding: 3px 0px 9px 0px;
  font-weight: 400;
  line-height: 1.6;
}

h1 {
  font-size: 74px;
  font-weight: 400;
  padding: 15px;
}

h2 {
  font-size: 30px;
  padding: 24px 0px 24px 0px;
  font-weight: 600;
  text-align: center;
}

h3 {
  font-size: 22px;
  padding: 13px 0px;
  text-align: left;
}

@media only screen and (max-width: 650px) {
  p {
    padding: 3px 13px 8px 13px;
  }
  h1 {
    font-size: 40px;
    padding: 15px;
  }
  h2 {
    font-size: 22px;
    padding: 24px 8px 24px 0px;
  }
  h3 {
    font-size: 20px;
    padding: 13px 13px;
  }
}

header {
  background-image: url("../images/fujitsu.jpg");
  height: 340px;
  color: white;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(25, 24, 36, 0.36);
}

header > * {
  position: relative;
}

header #top_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 30px 0px 30px;
  font-weight: 500;
}

header #top_menu .hamburger {
  display: none;
}

header #top_menu .close_menu {
  display: none;
}

header #top_menu ul.menu {
  display: block;
}

header #top_menu ul.menu li,
header #top_menu ul.menu span {
  list-style: none;
  display: inline;
  margin: 2px;
  color: #e6e6e6;
}

header #top_menu ul.menu li a,
header #top_menu ul.menu span a {
  text-transform: uppercase;
  font-weight: 500;
  color: #e6e6e6;
}

header #top_menu ul.menu li a:hover,
header #top_menu ul.menu span a:hover {
  color: white;
}

header #top_menu ul.menu li a.active,
header #top_menu ul.menu span a.active {
  color: white;
}

header a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
}

header .middle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

header .middle h3 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 300;
}

.wrapper {
  position: relative;
  padding-bottom: 100px;
  min-height: 100vh;
}

main {
  padding-top: 15px;
  max-width: 800px;
  margin: 30px auto;
}

main.center {
  text-align: center;
}

main h2 {
  color: #393939;
}

main .bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 40px;
  transition: transform 0.2s;
}

main .bottom:hover {
  transform: scale(1.1);
}

main .bottom #logo {
  height: 100px;
}

main .line {
  border-bottom: #3939394d solid 0.3px;
  margin: 25px 0px;
}

footer {
  height: 65px;
  background-color: rgba(204, 204, 204, 0.4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

footer a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
}

footer a:hover {
  color: #393939;
}

.main3 {
  max-width: 480px;
}

.main3 .row {
  display: flex;
  margin: 12px 0;
}

.main3 .row .col_1 {
  padding: 2px 18px 0;
  font-size: 20px;
}

.main3 .row a {
  text-decoration: none;
  color: #666;
  font-weight: 500;
}

.main3 .row a:hover {
  color: #393939;
}

.main3 .row p {
  line-height: 1;
}

#no_footer {
  height: 60px;
}

@media (min-width: 651px) and (max-width: 800px) {
  main {
    max-width: 630px;
  }
}

@media only screen and (max-width: 650px) {
  header #top_menu {
    display: flex;
  }
  header #top_menu a {
    font-size: 16px;
  }
  header #top_menu a:hover {
    color: #393939;
  }
  header #top_menu .hamburger {
    display: block;
    font-size: 25px;
  }
  header #top_menu ul.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    padding-top: 50px;
    z-index: 4;
  }
  header #top_menu ul.menu .close_menu {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #393939;
  }
  header #top_menu ul.menu span {
    display: none;
  }
  header #top_menu ul.menu li {
    display: block;
    padding: 12px;
    margin: 0 10px;
    font-size: 35px;
    line-height: 35px;
    border-top: 1px solid grey;
  }
  header #top_menu ul.menu li:last-child {
    border-bottom: 1px solid grey;
  }
  header #top_menu ul.menu li a {
    color: #393939;
  }
  .middle {
    text-align: center;
  }
  .line {
    margin: 25px 8px;
  }
  footer {
    flex-direction: column;
    line-height: 1.8;
    height: 80px;
    padding: 8px;
  }
}
